<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="testFilePattern" value="NUMS-*.txt"/>
    <add key="testFileMatchRegex" value="NUMS-([A-Z_]+)(-[A-Z_]+)*"/>
    <add key="resourceDir" value="Resources"/>
  </appSettings>
</configuration>